.grid-container {
    display: flex;
    flex: 1 auto;
}
  
#grid {
    display: grid;
    width: 100%;
    height: 100%;
    row-gap: $content-spacing;
    column-gap: $content-spacing;
    grid-template-columns: 1fr minmax(10em, 75%);
    grid-template-rows: 1fr;
    .grid-item {
        @include border-radius;
        display: flex;
        flex-direction: column;
        background: $white;
        .grid-content {
        display: flex;
        flex: 1 auto;
        flex-direction: column;
        padding: $content-spacing;
        }
    }
}