input, button {
    font-family: 'Montserrat', sans-serif;
  }
  

button {
    @include border-radius;
    padding: 0.75em 1.25em;
    color: $white;
    background: $grey;
    transition: background $transition-length ease-in-out;
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    &:hover {
      background: $dark;
    }
    &.active {
      background: $accent;
    }
}
  
.button-container {
    button {
      margin-right: 0.5em;
    }
}


