$off-white: #efefef;
$white: #fefefe;
$grey: #444;
$dark: #222;
$accent: #1dd1a1;

$content-spacing: 1em;

$title-size: 1.6em;
$title-weight: 700;
$heading-size: 1.5em;
$heading-weight: 600;
$subheading-size: 1.25em;
$subheading-weight: 600;
$p-size: 1em;
$p-weight: 500;

$transition-length: 0.25s;
$content-border-radius: 0.25em;

@import 'partials/mixins';
@import 'partials/media-queries';
@import 'partials/content';
@import 'partials/grid';
@import 'partials/inputs';

* {
  box-sizing: border-box;
}
